/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", Arial, sans-serif;
  letter-spacing: 0.5px;
  background-color: rgb(222, 184, 135, 0.7);
  color: #222;
}
.dark-mode{
  background-color: rgb(34, 34, 34, 0.9);
  color: rgb(255, 255, 255, 0.8);
}
img
{
  max-width: 100%;
  height: auto;
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *** CONTAINER *** */
.container
{
  max-width: 800px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
/* ** LINK ** */
.link {
  text-decoration: none;
  color: #222;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
}
.link:hover{
  border-color: #222;
}
.dark-mode .link{
  color: rgb(255, 255, 255, 0.8);
}
.dark-mode .link:hover{
  border-color: rgb(255, 255, 255, 0.8);
}
.link:active{
  opacity: 0.6;
}
/* Button  */
.button{
  max-width: 170px;
  width: 100%;
  display: block;
  padding: 8px 20px;
  border-radius: 7px;
  border: 2px solid #222;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 500;
}
.button:hover{
  background-color: rgb(255, 255, 255, 0.8);
}
.button:active{
  transform: translateY(2px);
}
.dark-mode .button {
  background-color: rgb(255, 255, 255, 0.8);
}
.dark-mode .button:hover{
  background-color: transparent;
  color: rgb(255, 255, 255, 0.8);
  border-color: rgb(255, 255, 255, 0.8);
}


/* SITE HEADER */
.site-header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.site-header__container {
  display: flex;
}
.site-header__img {
  width: 170px;
  height: 170px;
  display: block;
  border-radius: 50%;
  margin-right: 32px;
  flex-shrink: 0;
}
.site-header__info {
  flex-grow: 1;
}
.site-header__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 600;
}
.site-header__subtitle {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: normal;
  font-weight: 500;
}
.site-header__profiles-link{
  font-size: 18px;
  line-height: normal;
}

/* Toggler */
.dark-mode-toggler {
  width: 50px;
  height: 24px;
  border-radius: 12px;
  background-image: url(../img/dark_mode.png);
  background-size: 76px 24px;
  background-position: -26px 0;
  transition: 500ms;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 32px;
}
.dark-mode .dark-mode-toggler{
  background-position: 0 0;
}


/* LANGUAGE CHANGER  */
.language-changer {
  padding: 0;
  margin: 0;
  list-style: none;
}
.language-changer__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.language-changer__item:not(:last-child){
  margin-bottom: 10px;
}
.language-changer__link {
  display: flex;
  transition: transform 0.4s ease;
}
.language-changer__link:hover{
  transform: scale(1.5);
}
.language-changer__link:visited{
  transform: scale(1.5);
}
.language-changer__link:active{
  opacity: 0.5;
}
.language-changer__link--active{
  transform: scale(1.5);
}
.language-changer__img {
  display: flex;
  border-radius: 4px;
  width: 30px;
  height: 20px;
}
/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
  padding-bottom: 100px;
}

.hero__title {
  text-align: center;
  margin-top: 0;
}
.projects-list {
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 696px;
  overflow-y: auto;

  /* Foreground, Background */
  scrollbar-color: rgb(51, 51, 51, 0.9) rgb(255, 255, 255, 0.6);
}
.projects-list::-webkit-scrollbar {
  width: 12px; /* Mostly for vertical scrollbars */
  height: 12px; /* Mostly for horizontal scrollbars */
}
.projects-list::-webkit-scrollbar-thumb { /* Foreground */
  border-radius: 5px;
  background: rgb(51, 51, 51, 0.9);
}
.dark-mode .projects-list::-webkit-scrollbar-thumb { /* Foreground */
  border-radius: 5px;
  background: #222;
}
.projects-list::-webkit-scrollbar-track { /* Background */
  border-radius: 5px;
  background: rgb(255, 255, 255, 0.6);
}
.projects-list__item {
  position: relative;
  display: flex;
  margin-bottom: 32px;
}
.projects-list__item::after{
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 40px;
  background-image: url(../icons/responsive-devices.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  content: "";
  display: none;
}
.dark-mode .projects-list__item::after{
  opacity: 0.9;
  background-image: url(../icons/responsive-devices-white.svg);
}
/* *** RESPONSIVE ICON *** */
.projects-list__item:nth-child(1)::after{
  display: block;
}
.projects-list__item:nth-child(8)::after{
  display: block;
}
.projects-list__item:nth-child(9)::after{
  display: block;
}
.projects-list__item:nth-child(11)::after{
  display: block;
}
.projects-list__item:nth-child(12)::after{
  display: block;
}

.projects-item--none {
  display: none;
}
.projects-list__item-img {
  width: 300px;
  height: 200px;
  margin-right: 32px;
  flex-shrink: 0;
}
.projects-list__item-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.projects-list__item-title {
  margin-top: 0;
  margin-bottom: 10px;
}
.projects-list__item-text {
  margin: 0;
  flex-grow: 1;
}
.sources {
  margin-bottom: 5px;
}
.button-wrapper{
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 800px){
  .container{
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 720px){
  /* SITE HEADER */
  body
  {
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: -0.5px;
  }

  .site-header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .site-header__container {
    display: flex;
  }
  .site-header__img {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 50%;
    margin-right: 16px;
  }
  .site-header__info {
    padding-top: 10px;
    flex-grow: 1;
  }
  .site-header__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 32px;
  }
  .site-header__subtitle {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
  }
  .site-header__profiles-link{
    font-size: 16px;
    line-height: normal;
  }
  .dark-mode-toggler{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .projects-list__item-img{
    width: 270px;
    height: 180px;
    margin-right: 24px;
  }
  .language-changer__item:not(:last-child){
    margin-bottom: 7px;
  }
}
@media only screen and (max-width: 680px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .projects-list__item::after{
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (max-width: 630px){
  .site-header__img {
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 50%;
    margin-right: 14px;
  }
  .projects-list__item-img{
    width: 255px;
    height: 170px;
    margin-right: 18px;
  }
  .site-header__info {
    padding-top: 0;
  }
  .site-header__title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 30px;
    line-height: normal;
  }
  .site-header__subtitle {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
  }
}

@media only screen and (max-width: 550px){
  .site-header{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .site-header__container{
    position: relative;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
  .site-header__info-links{
    display: flex;
    flex-direction: column;
  }
  .site-header__info-links span{
    display: none;
  }
  .dark-mode-language-select-wrapper{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .dark-mode-toggler{
    margin-top: 0;
  }
  .language-changer{
    display: flex;
    align-items: center;
  }
  .language-changer__item:not(:last-child){
    margin-right: 8px;
    margin-bottom: 0;
  }
  .language-changer__img{
    display: flex;
    width: 27px;
    height: 18px;
  }
  .site-header__img {
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 50%;
    margin-right: 0;
  }
  .hero__title{
    font-size: 26px;
  }
  .projects-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 1218px;
  }
  .projects-list::-webkit-scrollbar {
    width: 8px; /* Mostly for vertical scrollbars */
    height: 8px; /* Mostly for horizontal scrollbars */
  }
  .projects-list__item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px;
  }
  .projects-list__item::after{
    bottom: 15px;
    width: 45px;
    height: 36px;
  }
  .projects-item--none {
    display: none;
  }
  .projects-list__item-img{
    width: 300px;
    height: 200px;
    margin-right: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .projects-list__item-info{
    width: 300px;
    min-height: 180px;
    background-color:rgb(255, 255, 255, 0.6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .projects-list__item-text{
    margin-bottom: 8px;
  }
  .dark-mode .projects-list__item-info {
    color: #222;
  }
  .dark-mode .projects-list__item-info a {
    color: #222;
  }
  .site-header__info-links{
    display: inline-flex;
  }
}
@media only screen and (max-width: 375px){
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
  .language-changer__img{
    width: 24px;
    height: 16px;
  }
}